body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  height: auto;
  margin: 0;
}

a {
  color: inherit;
}

table th {
  background-color: brown;
  color: white;
}

table td {
  background-color: rgb(128, 128, 128);
  color: antiquewhite;
}
th {
  width: 100px;
  padding: 10px;
}

td {
  width: 100px;
  padding: 10px;
}
