body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  height: auto;
  margin: 0;
}

.form-action {
  width: 520px;
  border: none;
  padding: 1.5rem 1.5rem;
}

.form-input {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
